[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
joblib = "*"
python-dotenv = "*"
pandas = "*"
catboost = "*"
scikit-learn = "==1.6.1"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.13"
